.section1_big_box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 85vh;

    /* border: 2px solid red; */
}

.section1_left_box{
    /* border: 2px solid red; */
    padding-left: 6%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 41%;
    
}

.section_1_right_box{
    /* border: 2px solid red; */
    height: 100%;
    width: 50%;
    
}

.section1_title_style{
    font-size: 7.5em;
    font-weight: 700;

    font-family: 'Plus Jakarta Sans', sans-serif;
    
}

.section1_subtitle_style{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    font-weight: 600;
    margin: 4% 0;
    color: black;
}

.section1_btn_style{
    width: 45%;
    padding: 0.6em 1em;
    border-radius: 30px;
    color: white;
    border: none;
    font-size: 2.6em;
    font-weight: 500;
    background-color: #031752;

    cursor: pointer;
    /* border: 2px solid red; */
}